body {
    margin: 0;
    padding: 0;
    background: #151845;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
    height: 370px;
}

.moon {
    position: absolute;
    background: #39beff;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset -30px 0 0 0 #31A2D9;
}

.eye {
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #161616;
    left: 6.2em;
    top: 5em;
    box-shadow: 0 2.7em #161616;
    transform: rotate(90deg);
}

.mount {
    position: absolute;
    border: 3px solid #161616;
    height: 5px;
    border-top: none;
    width: 10px;
    border-radius: 0 0 10px 10px;
    top: 6em;
    left: 4.8em;
}

.blush {
    position: absolute;
    height: 7.5px;
    width: 7.5px;
    border-radius: 50%;
    background: #1ca4f9;
    box-shadow: 0 4em #1ca4f9;
    left: 7em;
    top: 6em;
    transform: rotate(90deg);
}

.crater {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #31b4ff;
    border-radius: 50%;
    box-shadow: inset -5px 0 0 2px rgb(28, 164, 249);
    opacity: 0.4;
}

.crater-1 {
    top: 1.5em;
    left: 5em;
    transform: scale(0.9);
}

.crater-2 {
    top: 0.5em;
    left: 3.2em;
    transform: scale(0.65);
}

.crater-3 {
    top: 7em;
    left: 1.5em;
    transform: scale(0.6);
}

.crater-4 {
    z-index: -1;
    top: 7.5em;
    left: 6.5em;
    transform: scale(1.18);
}

.crater-5 {
    top: 3em;
    left: 1em;
    transform: scale(0.75);
}

.orbit {
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 280px;
    height: 280px;
    animation: orbit 5s infinite linear;
}

@keyframes orbit {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rocket {
    position: relative;
    left: 3em;
    height: 50px;
    width: 25px;
    border-radius: 50% 50% 0 0;
    background: #fafcf7;
    transform: rotate(40deg);
    z-index: 2;
}

.rocket:before {
    position: absolute;
    content: "";
    left: 0.3em;
    height: 4px;
    width: 15px;
    border-radius: 50% 50% 0 0;
    background: #39beff;
    bottom: -0.3em;
    transform: rotate(180deg);
}

.wind {
    position: absolute;
    background: #1ca4f9;
    height: 15px;
    width: 20px;
    border-radius: 40% 0 0 0;
    top: 2.2em;
    z-index: -1;
    left: -1.25em;
}

.wind:after {
    content: "";
    position: absolute;
    background: #1ca4f9;
    height: 15px;
    width: 20px;
    border-radius: 0 50% 0 0;
    top: 0em;
    z-index: -1;
    left: 2.8em;
}

.window {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #151845;
    border: 2px solid #b8d2ec;
    top: 1em;
    left: 0.3em;
}